/* CSS for styling the body */
body {
  background-image: url('/lud_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* CSS for styling the options boxes */
.options {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options-box {
  background-color: rgba(0, 0, 0, 0.85);
  border: 2px solid black;
  color: white;
  padding: 10px;
  margin: 30px;
  cursor: pointer;
  font-size: 50px
}

/* CSS for styling the dialogue box */
.dialogue-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  width: 50%; /* Adjust   q233434this value to change the width of the box */
  background-color: rgba(0, 0, 0, 0.75); /* Change the background color as desired */
  border: 1px solid black; /* Add a border if desired */
  padding: 20px; /* Add some padding for aesthetics */
  margin: 20px auto; /* Center the box on the page */
  text-align: left; /* Align the text to the left */
  cursor: pointer;
}

.character-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 300px;
  mix-blend-mode: multiply;
  filter: contrast(1);
}

.character-name {
  /* Style the character name as desired */
  font-weight: bold;
  color: rgb(105, 255, 253);
  margin-top: 0;
  font-size: 35px;
}

.dialogue-text {
  /* Style the dialogue text as desired */
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}